
#homeSection{
    transition: right 2s;
    top:50px;
    right: 100%;
    position: absolute;  
    background-color: blue;
    
}





#contactSection{
    transition: right 2s;
    top:50px;
    position: absolute;
    right: 100%;
    background-color: aqua;
    
}


#aboutSection{
    transition: right 2s;
    top:50px;
    position: absolute;
    right: 100%;
    background-color: blueviolet;
    
}


